/* FOCUS v. FOCUS-VISIBLE */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible#focus_vs_focus-visible */

/* 
  HMM: Brian P. - What should focus style be? 
  */
.k-button.k-button-solid-primary:focus,
.k-button:focus.k-button-solid-base,
.k-checkbox-wrap .k-checkbox:checked:focus,
.k-radio:checked:focus,
button.k-button.k-button-flat:focus,
.k-button.k-button-outline.k-button-outline-primary:focus {
  box-shadow: 0px 0px 0px 0px transparent;
}

/* 
  HMM: Brian P. - What should focus visible style be? 
  */
.k-button.k-button-solid-primary:focus-visible,
.k-button:focus-visible.k-button-solid-base,
.k-checkbox-wrap .k-checkbox:checked:focus-visible,
.k-radio:checked:focus-visible,
button.k-button.k-button-flat:focus-visible,
.k-button.k-button-outline.k-button-outline-primary:focus-visible {
  outline: 2px solid rgba(20, 20, 20, 0.4);
}

/* SLIDER, RANGESLIDER */
.k-slider-track {
  /* 
  HMM: Brian P. - Should we give a visual hint to the track, without ticks? 
  */
  outline: 1px solid rgba(10, 10, 10, 0.15);
}
/* "There's no ticks in baseball" */
.k-tick.k-tick-large.k-tick-horizontal,
.k-tick.k-tick-large.k-tick-vertical {
  visibility: hidden;
  .k-label {
    visibility: visible;
  }
}

/* BUTTON */
.k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-primary {
  span.k-button-text {
    color: white;
  }
}

/* FLOATING ACTION BUTTON (FAB) */
.k-fab > .k-fab-icon {
  color: white;
}

.k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-primary,
.k-button.k-button-md.k-rounded-md.k-button-outline.k-button-outline-primary,
.k-button.k-button-md.k-rounded-md.k-button-flat.k-button-flat-primary {
  min-width: fit-content;
  height: fit-content;
}

.k-textbox {
  min-width: fit-content;
  height: fit-content;
}

/* Remove alternating row color */
.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-alt.k-table-alt-row {
  background-color: inherit;
}

a{
  color: unset;
}

/* ICONS in APP BAR */
.k-appbar .k-appbar-section .k-button.k-button-flat .k-button-icon.k-icon.k-svg-icon>svg {
  color: white;
}

.k-grid .k-table-row {
  cursor: pointer;
}